themes {
    // catppuccin
    catppuccin {
        fg "#CDD6F4"
        bg "#1E1E2E"
        black "#45475A"
        red "#F38BA8"
        green "#A6E3A1"
        yellow "#F9E2AF"
        blue "#89B4FA"
        magenta "#F5C2E7"
        cyan "#94E2D5"
        white "#BAC2DE"
        orange "#fab387"
    }
}
